.menu-category {
  background-color: $grey-light-1;
  padding: 2rem;
  box-shadow: 5px 8px 25px -8px rgba(0,0,0,0.75);
  text-align: center;
  border-radius: 1.5rem;
  position: relative;
  height: 10rem;

  &__title {
    font-family: "Concert One";
    font-size: 3rem;

    &-text {
      @include absCenter;
    }
  }

  &__circle {
    height: 5rem;
    width: 5rem;
    background-color: $grey-light-1;
    border-radius: 50%;
    position: absolute;
    right: -7%;
    top: 30%;
    box-shadow: .1rem 1.5rem 4.6rem -.8rem rgba(0,0,0,0.75);

    &-arrow {
      color: $red-primary;
      font-size: 3rem;
      @include absCenter;
    }
  }


}
