// GRID VARIABLES
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// COLORS
$white: #fff;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
$red-primary: #fd7473;
$red-secondary: #fd9191;
$button-grey: #787878;
