.banner-heading {
  font-family: "Concert One";
  color: #A61646;

  &__welcome {
    display: block;
    font-weight: 100;
  }

  &__primary {
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    letter-spacing: .2rem;
  }
}